.investment {
  &-inner {
    padding-top: 5.313rem;

    img {
      border-radius: 0.625rem;
      @extend %border-ef;
    }
  }
  &-text {
    width: 31.188rem;

    h2 {
      margin-bottom: 1.25rem;
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: var(--font-b);
      color: $c103;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.375 ren;
      color: $c104;
    }

    p + p {
      margin-top: 0.938rem;
    }
  }
  &-list{
    margin: 5.25rem 0 8.125rem;
    ul{
     li{
       display: flex;
       align-items: center;
       gap: 1.5rem;
       
     }
    }
  }
  &-item{
    margin-bottom: 3.785rem;
  }
}
