<div class="container-fluid">
    <div class="about-inner">
        <ul>
            <li>
                <h2>About Crypminne</h2>
                <p>
                    We are building a cryptocurrency economy - a fairer, more efficient and transparent financial system
                    based on cryptocurrency. Crypminne is a dynamically growing holding company that includes several
                    companies engaged in industrial equipment supply, distribution of professional mining equipment and
                    online trading.
                    <br>
                    <br>
                    We started in 2020 with a bold idea: everyone in every country should have an easy and secure way to
                    invest, store, send and receive bitcoins. We now offer a reliable and convenient platform to access
                    the broad cryptocurrency economy. Our company Crypminne is always open to new partnerships and
                    mutually beneficial cooperation with different people and organizations
                </p>
            </li>
            <li>
                <h2>Why Crypminne</h2>
                <p>
                    Crypminne allow institutional investors to programmatically access all Crypminne features including
                    trading, investing, custody, real-time market data and account management. Customize secure crypto
                    products to efficiently manage your crypto assets and/or crypto offerings for clients at scale.
                    <br>
                    <br>
                    Institutions with programmatic trading strategies can execute various order types and utilize
                    Crypminne's intelligent order routing technology to provide the best full price on connected
                    liquidity venues. Financial technology firms, brokerages and others looking to create a
                    cryptocurrency offering in their products can integrate with the API to manage cryptocurrency
                    trading on behalf of their clients. Fund administrators and operations teams can transparently
                    automate important processes such as settlement, rebalancing.
                </p>
            </li>
            <li>
                <h2>Advantages</h2>
                <p>
                    Our self-contained cold storage provides maximum security. Crypminne has an impeccable reputation,
                    we have been reliably protecting a large volume of client assets for many years. The stable demand
                    for cryptocurrency and high profitability of its mining make investing in mining one of the most
                    effective areas of investment.
                    <br>
                    <br>
                    Unlike investing in the currency itself, mining provides an opportunity to receive a stable income
                    and does not require time spent on price monitoring and trading operations on the stock exchange.
                    The opportunity to earn passive income by choosing one of the investment programs offered by the
                    company. Of course, the first and main advantage of earning on the stock exchange is good prospects
                    for maximizing profits. If trading is successful, Crypminne's capital will increase, which means
                    that profits will also grow.
                    <br>
                    <br>
                    Crypminne applies modern methods of trading on cryptocurrency exchanges, which allows the client to
                    participate in the program, having even a small capital.
                    <br>
                    <br>
                    History knows many examples when people became millionaires and billionaires thanks to successful
                    trading on exchanges, but it was risky because the companies were not attached to the mining
                    resources.
                </p>
            </li>
        </ul>
    </div>
</div>
