<div class="container-fluid">
    <div class="advent-title">
        <h2>Advantages of cloud mining</h2>
        <p>The pros of cloud mining include the following points:</p>
    </div>
    <div class="advent-list row">
        <ul class="row-cols-1">
            <li>
                <img src="/img/svg/shopping-icon.svg" alt="shopping">
                <p>No equipment purchase costs.
                    Your costs are related only to the rental of facilities.</p>
            </li>
            <li>
                <img src="/img/svg/tool-icon.svg" alt="tool">
                <p>
                    No costs associated with maintenance and repair. All of this falls on the shoulders of the company
                    that provides
                    cloud mining services. You don't have to deal with all these issues yourself or hire specialists.
                </p>
            </li>
            <li>
                <img src="/img/svg/database-icon.svg" alt="database">
                <p>
                    No need to upgrade your equipment yourself. Cloud mining services
                    do it themselves and are interested in timely upgrades.
                </p>
            </li>
            <li>
                <img src="/img/svg/thunder.svg" alt="thunder">
                <p>
                    No electricity costs. The equipment is located in the company's data centers.
                    All costs are already included in the service fees.
                </p>
            </li>
            <li>
                <img src="/img/svg/fire.svg" alt="fire">
                <p>You will not have to deal with organizational issues, rent space for the farm.</p>
            </li>
            <li>
                <img src="/img/svg/dollar-icon.svg" alt="dollar">
                <p>An opportunity to start with a small capital investment.
                    The size of the minimum contract is from 1,000 Russian roubles.</p>
            </li>
        </ul>
    </div>
</div>
