<div class="cards-inner">
    <div class="container-fluid">
        <div class="cards-box">
            <div class="cards-box__title">
                <h2>The most trusted cryptocurrency platform</h2>
                <p>Here are just a few reasons why you should choose Crypminne</p>
            </div>
            <ul class="row row-cols-3">
                <li class="col">
                    <div class="cards-box__inner">
                        <img src="/img/svg/unlock.svg" alt="unlock">
                        <h2>Safe storage</h2>
                        <p>We store the vast
                            the vast majority of digital assets in
                            secure off-line storage.</p>
                    </div>
                </li>
                <li class="col">
                    <div class="cards-box__inner">
                        <img src="/img/svg/safery-icon.svg" alt="unlock">
                        <h2>Insured</h2>
                        <p>Crypminne participates in cryptocurrency insurance.
                            All U.S. dollar cash balances are covered by FDIC insurance in amounts
                            up to $250,000.</p>
                    </div>
                </li>
                <li class="col">
                    <div class="cards-box__inner">
                        <img src="/img/svg/dollar-icons.svg" alt="dollar">
                        <h2>Confidence</h2>
                        <p>Withdraw your money at any convenient moment for you to any payment systems.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
