<footer class="footer-inner">
<div class="container-fluid">
    <div class="footer-box">
        <div class="footer-link">
            <h2>Links</h2>
            <ul class="row">
                <li class="col-1">
                    <a href="#">Home</a>
                </li>
                <li class="col-1">
                    <a href="#">News</a>
                </li>
                <li class="col-1">
                    <a href="#">Currency</a>
                </li>
                <li class="col-1">
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="footer-contact">
            <h2>Our contacts</h2>
            <ul class="row row-cols-2">
                <li class="col">
                    <a href="#">
                        <img src="/img/svg/skype-icon.svg" alt="footer-icon">
                    </a>
                    <a href="#">
                        <img src="/img/svg/messege-con.svg" alt="footer-icon">
                    </a>
                    <a href="#">
                        <img src="/img/svg/mail-icon.svg" alt="footer-icon">
                    </a>
                </li>
                <li class="col">
                    <p>Address: 22 Cotton Tree Dr, Central, Hong Kong
                        CongEmail: cryptomine@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="footer-copy">
            <h2>
                © Copyright 2022 Crypminne Version 8.2.1. All Rights Reserved
                Designed by StreamSoft
            </h2>
        </div>
    </div>
</div>
</footer>
