<div class="container-fluid">
    <div class="investment-inner row">
        <div class="col">
            <img width="100%" src="/img/investment-img.webp" alt="investment-img">
        </div>
        <div class="investment-text col">
            <h2>Investing in mining
                and cryptocurrency</h2>
            <p>
                What is cloud mining? Mining facilitates the existence of blockchains and cryptocurrencies. Powerful
                computers perform calculations and create new blocks of blockchain, from which miners are rewarded in
                the form of bitcoins/cryptocurrency.
            </p>
            <p>
                Building your own farm of specialized computers is quite expensive, requiring a lot of technical
                knowledge. The Crypminne project performs this function on its own. Convenient services, transparent
                rates and high quality of mining.
            </p>
            <p>
                Building your own farm of specialized computers is quite expensive, requiring a lot of technical
                knowledge. The Crypminne project performs this function on its own. Convenient services, transparent
                rates and high quality of mining.
            </p>
            <p>
                Building your own farm of specialized computers is quite expensive, requiring a lot of technical
                knowledge. The Crypminne project performs this function on its own. Convenient services, transparent
                rates and high quality of mining.
            </p>
        </div>
    </div>
</div>
