<div class="container-fluid">
    <div class="investment-inner row">
        <div class="col">
            <img  src="/img/investment-img.png" alt="investment-img">
        </div>
        <div class="investment-text col">
            <h2>Investing in mining
                and cryptocurrency</h2>
            <p>
                What is cloud mining? Mining facilitates the existence of blockchains and cryptocurrencies. Powerful
                computers perform calculations and create new blocks of blockchain, from which miners are rewarded in
                the form of bitcoins/cryptocurrency.
            </p>
            <p>
                Building your own farm of specialized computers is quite expensive, requiring a lot of technical
                knowledge. The Crypminne project performs this function on its own. Convenient services, transparent
                rates and high quality of mining.
            </p>
            <p>
                Building your own farm of specialized computers is quite expensive, requiring a lot of technical
                knowledge. The Crypminne project performs this function on its own. Convenient services, transparent
                rates and high quality of mining.
            </p>
            <p>
                Building your own farm of specialized computers is quite expensive, requiring a lot of technical
                knowledge. The Crypminne project performs this function on its own. Convenient services, transparent
                rates and high quality of mining.
            </p>
        </div>
    </div>
    <div class="investment-list">
        <ul class="row row-cols-3">
            <li class="investment-item col">
                <img src="/img/svg/percent-icon.svg" alt="percent">
                <p>High interest rate on deposits
                    rate on deposits.</p>
            </li>
            <li class="investment-item col">
                <img src="/img/svg/coins-icon.svg" alt="percent">
                <p>Available pass
                    threshold for opening a deposit.
                </p>
            </li>
            <li class="investment-item col">
                <img src="/img/svg/credit-icon.svg" alt="percent">
                <p>Flexible system of deposit and withdrawal
                    of funds from the balance of the depository.
                </p>
            </li>
            <li class="col">
                <img src="/img/svg/users-icon.svg" alt="percent">
                <p>
                    A well-coordinated team
                    of experienced professionals.
                </p>
            </li>
            <li class="col">
                <img src="/img/svg/laptop-icon.svg" alt="percent">
                <p>
                    Automated management
                    own finances.
                </p>
            </li>
        </ul>
    </div>
</div>
