<div class="partner-inner">
    <div class="container-fluid">
        <div class="partner-box">
            <h2>Partners:</h2>
            <ul class="row row-cols-4">
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-1.webp" alt="partner-img">
                        <p>One of the largest international online
                            exchange services
                            digital cryptocurrencies
                            Dozens of cryptocurrencies are exchanged both among themselves
                            among themselves and for fiat
                            money</p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-2.webp" alt="partner-img">
                        <p>
                            Bitcoin futures delivery platform from New York Stock Exchange operator ICE
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-3.webp" alt="partner-img">
                        <p>
                            A cryptocurrency trading platform owned and operated by Hong Kong-headquartered IFinex Inc.
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-4.webp" alt="partner-img">
                        <p>
                            One of the largest
                            networks in the world that provide
                            professional services,
                            and one of the Big Four
                            One of the world's largest professional services networks and one of the Big Four audit
                            firms, along with Deloitte, Ernst
                            & Young and PwC
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-5.webp" alt="partner-img">
                        <p>
                            International
                            payment system,
                            transnational
                            financial corporation,
                            comprising 22,000
                            financial institutions
                            in 210 countries
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-6.webp" alt="partner-img">
                        <p>
                            Online service
                            digital currency exchange,
                            registered
                            in the United States. As of
                            December 2019.
                            total trading volume
                            was about 13% of
                            global turnover </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-6.webp" alt="partner-img">
                        <p>
                            American
                            multinational
                            company,
                            providing services
                            payment
                            transactions
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-7.webp" alt="partner-img">
                        <p>
                            Observer
                            bitcoin blockchain and cryptocurrency
                            cryptocurrency
                            remote wallets
                            storage and use
                            access keys
                            cryptocurrencies
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-8.webp" alt="partner-img">
                        <p>
                            Observer
                            bitcoin blockchain and cryptocurrency
                            cryptocurrency
                            remote wallets
                            storage and use
                            access keys
                            cryptocurrencies
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-9.webp" alt="partner-img">
                        <p>
                            Venture capital fund,
                            founded
                            by Marc Andreessen
                            and Ben Horowitz.
                            It was founded in June
                            2009 with an initial
                            300 million dollars
                            dollars </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-10.webp" alt="partner-img">
                        <p>
                            Hong Kong
                            charitable and
                            venture capital organization.
                            Specializes in
                            investments in medical,
                            educational
                            and cultural projects,
                            social
                            social entrepreneurship                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-11.webp" alt="partner-img">
                        <p>
                            An exchange for trading
                            the cryptocurrency Bitcoin.
                            Bitstamp's office is located
                            Luxembourg
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-3.webp" alt="partner-img">
                        <p>
                            A cryptocurrency trading platform owned and operated by Hong Kong-headquartered IFinex Inc.
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-4.webp" alt="partner-img">
                        <p>
                            One of the largest
                            networks in the world that provide
                            professional services,
                            and one of the Big Four
                            One of the world's largest professional services networks and one of the Big Four audit
                            firms, along with Deloitte, Ernst
                            & Young and PwC
                        </p>
                    </div>
                </li>
                <li class="col">
                    <div class="partner-box__cont">
                        <img src="/img/partner-img-12.webp" alt="partner-img">
                        <p>
                            Cryptocurrency Exchange,
                            founded in the U.S.
                            in 2014 by
                            Tristan DAgosta,
                            based in Wilmington, Delaware,
                            Delaware.
                            In February 2018.
                            Polonix was acquired
                            by
                            Circle Internet Financial Ltd.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
