<div class="container-fluid">
  <div class="headercont">
    <div class="headercont-title">
      <h1>2023</h1>
      <p>YEAR</p>
    </div>
    <div class="headercont-subtitle">
      <h2>
        Year of earnings in the field of
        Mining
      </h2>
    </div>
    <div class="headercont-desc">
      <p>
        Rent equipment in one click
        and make a profit in cryptocurrency
        without spending personal time
      </p>
    </div>
    <div class="headercont-btn row">
      <a class="col" href="#">
        <p>Watch</p>
        <img src="/img/svg/play.svg" alt="play">
      </a>
      <button class="col">
        Get started
      </button>
    </div>
  </div>
</div>

