<div class="container-fluid">
    <div class="navigation row">
        <div class="navigation-logo col">
            <img src="/img/svg/logo.svg" alt="logo"/>
        </div>
        <nav class="navigation-menu col">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Currency</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </nav>
        <div class="navigation-auth col">
            <div class="navigation-auth__reg">
                <a href="#">Registration</a>
            </div>
            <div class="navigation-auth__signout">
                <button>Log in</button>
            </div>
        </div>
    </div>
</div>

